@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');


* {
    /* padding: 0;
    margin: 0; */
    box-sizing: border-box;
}

body {
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* overflow: hidden; */
    margin: 0;
}

.container {
    display: flex;
    gap: 5px;
    width: 80%;
}

.item {
    height: 80vh;
    border-radius: 60px;
    position: relative;
    color: #fff;
    flex: 0.2;
    /* margin: 10px; */
    transition: 700ms all ease-in-out;
    overflow: hidden;
    cursor: pointer;

}

.item::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
background: linear-gradient(0deg, rgba(10,10,10,0.4206932773109243) 0%, rgba(36,175,250,0) 100%);}

.item img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}



.item h1 {
    position: absolute;
    bottom: 15px;
    left: 20px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    opacity: 0;

}

.item.active {
    flex: 2;
}

.item.active h1 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}